#titleContainer{
	margin-top: 50px;
}

#btnContainer{
	margin-top: 50px;
}

#secondRowBtnSpacing{
	margin: 10px;
}

.card {
	height: 350px;
	width: 350px;
}

.card {
	margin: 10px
}

#showForm {
	height: 500px;
	width: 500px;
}
